body{
    background-color: lightslategray;
    background-image: url(/assets/sky.webp);
    background-repeat: no-repeat;
    color: white;
}

a{
    color: white;
    font-weight: 600;
    font-size: large;
    position: relative;
    text-decoration: none;
    left: 20px;
    padding: 30px;

}

.balloon{
    position: relative;
        top: 10px;
        left: 180px;
}
    
.message-browser{
    position: relative;
    left: 150px;
    bottom: 50px;
}


#icon{
    position: relative;
    margin-right: 100px;
    bottom: 35px;

}


#topnav{
    position: absolute;
    display: inline-block;
    color: white;
    font-size: large;
    left: 100px;
    top: 60px;
    width: 350px;
}

.links{
    position: relative;
    display: block;
    left: 600px;
    top: -235px;
}

.hero{
    position: absolute;
    display: block;
    width: 10;
    left: 100;
}

#header{
    position: relative;
    display: block;
    left: 760px;
    top:  90px;
}

.para{
    display: inline-flex;
    position: relative;
    text-align: center;
    width: 500px;
    left: 650px;
    top: 200px;
    border-style: double;
    border-color: white;
}